.bg-img {
    background-image: url(/img/webp/bck8.webp);
}

@media only screen and (max-width: 576px) {
    .bg-img {
        background-image: url(/img/webp/bck8_xs.webp);
    }
}

@media only screen and (max-width: 992px) {
    .bg-img {
        background-image: url(/img/webp/bck8_xs.webp);
    }
}

@media only screen and (max-width: 1440px) {
    .bg-img {
        background-image: url(/img/webp/bck8_md.webp);
    }
}

@media only screen and (min-width: 1441px) {
    .bg-img {
        background-image: url(/img/webp/bck8_xl.webp);
    }
}